/*Fuente de la página*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap');

h1{
    font-family:'Roboto', sans-serif;
}

/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(img/fondopanal.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

header{
    width: 100%;
    height: 20vh;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 450px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: rgb(73, 73, 73);
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background:rgb(226, 226, 226);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 30px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 650;
    text-decoration: none;
}

.nav-menu li a .active, .nav-menu li a:hover{
    color: rgb(247, 4, 247);
    transition: .3s;
    text-decoration:overline;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

/*Estilo index*/

p, span{
    color: #000;
}
.contenedor1{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 40px;
    color: rgb(250, 119, 163);
    font-size: 40px;
    line-height: 40px;
    position:top;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 235px;
    overflow: hidden;
}

.contenedor1 ul{
    list-style:none;
    padding-left: 10px;
    animation: cambiar 7s infinite;   
}

.contenedor1 ul, p span{
    margin: 0;
}

.texto p{
    width: 800px;
    margin-left: 560px;
    margin-top: 20px;
    margin-bottom: 125px;
    font-size: 40px;
}


@keyframes cambiar {
    0%{margin-top: 0;}
    5%{margin-top: 0;}

    10%{margin-top: -40px;}
    15%{margin-top: -40px;}

    20%{margin-top: -80px;}
    25%{margin-top: -80px;}

    30%{margin-top: -120px;}
    35%{margin-top: -120px;}

    40%{margin-top: -160px;}
    45%{margin-top: -160px;}

    50%{margin-top: -200px;}
    55%{margin-top: -200px;}

    60%{margin-top: -240px;}
    65%{margin-top: -240px;}

    70%{margin-top: -280px;}
    75%{margin-top: -280px;}

    80%{margin-top: -320px;}
    85%{margin-top: -320px;}

    100%{margin-top: 0;}
}


/*Responsive for desktop*/

@media screen and (min-width: 840px) {
    .logo {
        margin-left: 50px
    }

    nav{
        height: 100px;
    }

    .bar-btn{
        display: none;
    }
    
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 10px;
        transition: none;
    }

    .nav-menu li a{
        font-size: 15px;
        text-decoration: none;
    }

    .banner-text h1{
        font-size: 70px;
        margin-bottom: 30px;
    }

    .banner-text h2{
        font-size: 40px;
    }


}

/*Estilos para el Blog*/

.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.post-img1{
    background: url(/CSS/img/parisstreet.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img2{
    background: url(/CSS/img/uglysweter.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img3{
    background: url(/CSS/img/cumpleaños.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0,0, 0, 0.1);    
    overflow: hidden;
    transition: .2s;
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img1,
.post:hover .post-img2,
.post:hover .post-img3{
    transform: scale(1.1);
}

.post-body{
    padding: 15px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2{
    margin-bottom: 15px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #2b6ebb;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
}

.post-body .post-link:hover{
    background: #3378c7;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform:translateY(-2px);
}

/*Responsive for Blog*/
@media (max-width: 840px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Estilos para tablas de Próxmas Colecciones*/
.main__h2--propiedades {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 800;
    font-style: normal;
    text-align: center;
    line-height: 60px;
  }
  
  iframe {
    display: block;
    margin: 0 auto;
  }

.tabla {
    border: 4px solid #ccc;
    border-collapse: collapse;
    align-content: center;
    text-align: center;
    width: 500px;
    margin: auto;
  }
  
  .tabla td {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .tabla th {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: bisque;
  }
  
  .tabla tr:hover {
    background-color: #ccc;
  }
  
  table,
  th {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: bold;
  }
  
  table,
  td {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: normal;
  }
/*Estilos y Responsive para Calendario*/

@media (max-width: 550px) {
    .big-container {
        display: none;
    }
 }
 @media (min-width: 550px) {
    .small-container {
        display: none;
    }
 }
 /* Responsive iFrame */
 .responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: visible;
  
 }
 .responsive-iframe-container iframe,   
 .vresponsive-iframe-container object,  
 .vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

 /*Sightings responsive*/
 h2{
     text-align: center;
 }
 
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: auto rows 400px;
    padding: 20px;
    grid-gap: 20px;
  }
  
  .gallery__item {
    position: relative;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .gallery__title {
    position: absolute;
    text-align: center;
    bottom: 0;
    color: #fc85b6;
    background: linear-gradient(rgba(255, 255, 255, 0), black);
    width: 100%;
    margin: 0;
    padding: 30px;
  }
  
  .gallery__item:nth-child(2) {
    grid-column-start: span 2;
  }
  
  .gallery__item:nth-child(3) {
    grid-column-start: span 2;
  }
  
  .gallery__item:nth-child(4) {
    grid-row-start: span 2;
  }
  
  .gallery__item:nth-child(6) {
    grid-row-start: span 1;
  }
  
  .gallery__item:nth-child(8) {
    grid-column-start: span 2;
  }
  
  @media only screen and (min-width: 360px) {
    .gallery-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .gallery__item:nth-child(1) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(4) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(5) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(6) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(7) {
      grid-column-start: span 2;
    }
  }
  @media only screen and (min-width: 600px) {
    .gallery-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .gallery__item:nth-child(1) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(4) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(5) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(6) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(7) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(8) {
      grid-column-start: span 4;
    }
  
    .gallery__title {
      font-size: 16px;
      padding: 10px;
    }
  }
  @media only screen and (min-width: 600px) {
    .gallery-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .gallery__item:nth-child(1) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(4) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(5) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(6) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(7) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(8) {
      grid-column-start: span 4;
    }
  
    .gallery__title {
      font-size: 18px;
      padding: 20px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .gallery-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .gallery__item:nth-child(1) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(4) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(5) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(6) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(7) {
      grid-column-start: span 2;
    }
  
    .gallery__item:nth-child(8) {
      grid-column-start: span 4;
    }
  
    .gallery__title {
      font-size: 20px;
      padding: 25px;
    }
}

/*Estilos para Formulario*/

.invitacion {
    width: 800px;
    height: 150px;
    text-align: justify;
    margin: 60px auto;
    font-size: 25px;
}

.formulario {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 50%;
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }

/*Estilos para el carrousel de looks*/
#titulo1{
    text-align: center;
    margin-top: 60px;
}
.sec {
    width: 55%;
    position: relative;
  }
  
  .carousel-control-prev-icon {
    position: relative;
    left: 50%;
  }
  
  .carousel-inner img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .carousel-caption h3 {
    color: rgb(247, 9, 100);
    font-size: 50px;
  }
  
  .carousel-indicators li {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 2px solid rgb(247, 9, 100);
  }
  